/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #04447c, #807ca0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #04447c;
}

.login-container h3 {
    margin-bottom: 20px;
    color: #333333;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

form input:focus {
    border-color: #4e73df;
    outline: none;
    box-shadow: 0 0 0 2px rgba(78, 115, 223, 0.2);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #174f81;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #807ca0;
}


.flash-messages {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.flash-messages .error {
    background-color: #ffdddd;
    color: #a94442;
    padding: 10px;
    border-left: 5px solid #f44336;
    margin-bottom: 10px;
    border-radius: 5px;
}